.box{
    width: 234px;
    height: 340px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    overflow: hidden;
    perspective: 800px;
    position: relative;
    z-index: 2;
    transition: all 0.3s ease 0s;
}
.box:hover{ box-shadow: 0 0 10px #000; }
.box:before{
    content: '';
    height: 100%;
    width: 100%;
    background-image: repeating-linear-gradient(45deg, transparent 5px, transparent 10px, rgba(0,0,0,0.3) 24px);
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease 0.1s;
}
.box:hover:before{ opacity: 1; }
.box img{
    width: 100%;
    height: 100%;
}
.box .box-content{
    background: linear-gradient(to bottom,#00000057,rgba(0, 0, 0, 0.53),rgba(0,0,0,0.7),rgba(28, 28, 28, 0.96));
    height: 100%;
    width: 100%;
    opacity: 0;
    transform-origin: center bottom;
    transform: rotate(-180deg);
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease 0s;
}
.box:hover .box-content{
    opacity: 1;
    transform: rotate(0);
}
.box .content {
    color: #fff;
    width: 100%;
    opacity: 0;
    filter: blur(5px);
    transform: translatex(-50%);
    position: absolute;
    left: 50%;
    bottom: 15px;
    transition: all 0.4s ease 0.25s;
}
.box:hover .content{
    opacity: 1;
    filter: blur(0);
}
.box .title {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 10px;
    color: #fff;
    position: absolute;
    bottom: 6px;
    left: 6px;
}
.box .icon {
    position: absolute;
    bottom: 291px;
    left: 21px;
    color: #fff;
    font-size: 25px;
}
.box .icon i {
    color: #ffd503;
}
.owl-theme .owl-controls{ margin-top: 10px; }
.owl-theme .owl-controls .owl-page span{
    width: 12px;
    height: 12px;
    background: #2e3a59;
    border-radius: 0;
    margin-right: 10px;
    transform: scale(1.2);
    opacity: 1;
    transition: all 0.3s ease 0s;
}
.owl-theme .owl-controls .owl-page.active span{
    outline: 2px solid #2e3a59;
    outline-offset: 3px;
    background: #593196;
    transform: scale(0.8);
}
@media only screen and (max-width:990px){
    .box{ margin-bottom: 30px; }
}
@media only screen and (max-width:479px){
    .box .title{ font-size: 18px; }
}